<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>blog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3C0F8C31C525E4800421FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3C0F8D71C525E4800421FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3C0F8E21C525E4800421FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
